<section class="second-section">
  <div class="container">
    <div class="login-div">
      <div>
        <h1>Reset Password</h1>
      </div>
      <form class="auth-form" [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
        <div class="input-wrap">
          <input type="password" placeholder="Password" formControlName="password" class="form-control custom-input"
            [ngClass]="{ 'is-invalid': submitted && f.password.errors }" maxlength="20" />
          <div *ngIf="submitted && f['password'].errors" class="invalid-feedback">
            <div *ngIf="f['password'].errors.required">Password is required</div>
            <div *ngIf="f['password'].errors.minlength">Must have at least 6 characters</div>
            <div *ngIf="f['password'].errors.maxlength">Must have less than 20 characters</div>
          </div>
        </div>
        <div class="input-wrap">
          <input type="password" placeholder="Confirm Password" formControlName="confirmPassword"
            class="form-control custom-input" [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }"
            maxlength="20" />
          <div *ngIf="submitted && f['confirmPassword'].errors" class="invalid-feedback">
            <div *ngIf="f['confirmPassword'].errors.required">Confirm Password is required</div>
            <div *ngIf="f['confirmPassword'].errors.minlength">Must have at least 6 characters</div>
            <div *ngIf="f['confirmPassword'].errors.maxlength">Must have less than 20 characters</div>
          </div>
          <div class="invalid-feedback"
            *ngIf="submitted && !f['confirmPassword'].errors && resetPasswordForm.errors?.MatchPassword">Password do not
            match.
          </div>
        </div>
        <div class="submit-btn">
          <button type="submit">Change Password</button>
        </div>
      </form>
    </div>
  </div>
</section>
