/* UrgentFury color code starts */

$black-russian: #080F2C;
$black: #000;
$light-grey: #ececec;
$gainsboro: #dfdede;
$quartz: #e0e2ec;
$silver: #bbb;
$dim-gray: #636363;
$night-rider: #333;
$red: #ff2600;
$navy-blue: #0061FF;
$neon-blue: #203af9;
$midnight-blue: #0b1640;
$royal-blue: #121d47;
$spray: #7fd7da;
$monte-carlo: #78ccb0;
$green: #77bb41;
$turquoise-blue: #5edadc;
$white: #fff;

/* UrgentFury color code ends*/

$background-purple: #7811e1;
$dark-green: #475037;
$darker-green: #393e2b;
$light-green: #c2d59c;
$winning-green: #0e6545;
$active-green: #627f2c;
$dark-purple: #4a228d;
$darker-purple: #3a1971;
$yellow: #e59e23;
$light-yellow: #eda424;
$orange: $light-yellow;

.green-color {
  color: $green;
}
