.confirm-button {
  margin-left: 15px;
  color: #ffffff;
  background-color: #fc5f45;
  padding: 4px;
  border-radius: 4px 4px 4px 4px;
  width: 4%;
  height: 27px;
  text-align: center;
  margin-right: 15px;
}
