<section class="second-section">
  <div class="container">
    <div class="login-div">
      <div>
        <h1>Forgot Password</h1>
      </div>

      <div>
        <form *ngIf="forgotPasswordForm" [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
          <div class="input-field">
            <input type="email" placeholder="Enter your email" formControlName="email"
              [ngClass]="{ 'is-invalid': submitted && f.email.errors }" maxlength="30">
            <i class=" fa fa-user"></i>
            <div *ngIf="submitted && f['email'].errors" class="invalid-feedback">
              <div *ngIf="f['email'].errors.required">Email is required</div>
              <div *ngIf="f['email'].errors.pattern">Email address must be valid</div>
            </div>
          </div>

          <div class="submit-btn">
            <button type="submit">Reset Password</button>
          </div>

          <div class="forgot-pwd">
            <a href="javascript:void(0)" routerLink="/login" (click)="forgotPasswordForm.reset();">
              Remember Your Password, Login ?
            </a>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

<app-loader></app-loader>
