.how-to h3 {
  color: #3a1971;
  font-size: 20px;
  display: table;
  margin-top: 15px;
  width: 100%;
}

.how-to h2 {
  color: #3a1971;
  font-size: 24px;
  display: table;
  width: 100%;
  margin-top: 15px;
}

.how-to p {
  color: #585858;
  font-size: 14px;
  margin-top: 15px;
}

.how-to table tr td {
  border: 1px solid #000;
  padding: 0px 4px;
  line-height: 24px;
  height: 24px;
}

.how-to table tr th {
  border: 1px solid #000;
  padding: 0px 4px;
  line-height: 24px;
  height: 24px;
}

.how-to table {
  margin: 25px 0px;
}
