<footer>
  <div class="container">
    <div class="col-md-7 col-sm-7">
      <ul>
        <li><a href="javascript:void(0)" routerLink="/about-us">Contact Support</a></li>
        <li><a href="javascript:void(0)" routerLink="/terms-and-conditions">Terms & Condition</a></li>
        <li><a href="javascript:void(0)" routerLink="/privacy-policy">Privacy Policy</a></li>
        <li><a href="javascript:void(0)" routerLink="/faq">FAQs</a></li>
      </ul>
    </div>
    <div class="col-md-5 col-sm-5">
      <div class="social-icons">
        <span><i class="fa fa-twitter" aria-hidden="true"></i></span>
        <span><i class="fa fa-facebook-square" aria-hidden="true"></i></span>
        <span><i class="fa fa-instagram" aria-hidden="true"></i></span>
      </div>
      <div class="copyright-section">
        <p>
          © 2020 UrgentFury, LLC All Rights Reserved -
          <a href="javascript:void(0)" routerLink="/terms-and-conditions">Terms & Privacy</a>
        </p>
      </div>
    </div>
  </div>
</footer>

<!-- <script src="../../../assets/javascripts/bootstrap.min.js"></script> -->
