<div class="profile-middle">
  <div class="friend-head">
    <h1>GET $10 in URGENTFURY Cash for FREE</h1>
  </div>
  <div class="link-block">
    <h2>Share your link now</h2>
    <div class="row">
      <div class="copy-btn">
        <p>{{ userUniqueId }}</p>
        <button (click)="copyMessage(userUniqueId)">Copy</button>
      </div>
    </div>
    <div class="social-links">
      <span><i class="fa fa-twitter"></i></span>
      <span><i class="fa fa-facebook-square"></i></span>
      <span><i class="fa fa-instagram"></i></span>
    </div>
  </div>
  <div class="work-block">
    <h2>How it works</h2>
    <div class="row">
      <div class="col-md-4 col-sm-12">
        <div class="friend-block">
          <img src="assets/images/invite-img.png">
          <h4>invite your friends</h4>
          <p>Send your link through email,text, twitter or facebook</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-12">
        <div class="friend-block">
          <img src="assets/images/signup-img.png">
          <h4>YOUR FRIENDS SIGN UP & DEPOSIT</h4>
          <p>Your friends sign up and deposit.Make sure the use our referral link! </p>
        </div>
      </div>
      <div class="col-md-4 col-sm-12">
        <div class="friend-block">
          <img src="assets/images/contest-img.png">
          <h4>CHALLENGE YOUR FRIENDS TO CONTESTS </h4>
          <p>Enter public or private contests to start winning cash and rewards! </p>
        </div>
      </div>
    </div>
  </div>
</div>

<app-loader></app-loader>
